
/* Reset */

* {
    margin: 0;
    padding: 0;
    outline: none;

	font-style: normal;
    font-family: 'Inter';
    box-sizing: border-box;
}

body {
	max-width: 1920px;
	margin: auto;
}

button {
    border: none;
    background-color: transparent;
}

ul {
    list-style: none;
}

a {
    color: black;
    text-decoration: none;
}

/* --------------------------------------------------------------- */

header {
    width: 100%;  
    display: flex;
    align-items: center;
    justify-content: space-between;    

    background-color: white;
    padding: 30px 100px;

    position: fixed;
	z-index: 10;
    top:0;
}

header h1 {
    font-size: 26px;
    font-weight: 400;
}

nav ul {
    display: flex;
    font-size: 14px; 
    margin-bottom: 0;
}

nav ul li {
    padding: 10px;
}

.social-link img {
    width: 20px;
    height: 20px;
}

#carouselExampleIndicators {
    margin-top: 100px;
}

.carousel-item img {
	height: 100%;
}

/* --------------------------------------------------------------- */

#about {
	display: flex;
    padding: 100px;

    justify-content: space-between;
    background-color: #F6D2B8;
}

.picture::before {
	content: '';
    display: flex;

    width: 374px;
	height: 329px;	
	
	position: absolute;
    bottom: -100px;		
	z-index: -1;
}

.picture.one::before {
    background-color: #E5975F;
    left: -120px;
}

.picture {
    width: 33%;
	margin: 0 20px;

	position: relative;
	z-index: 0;
}

.picture img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

#about-me {
    width: 65%;
	flex: 2
}

.about-me__title {
	font-size: 30px;
	margin: 1em 0 60px;
}

.about-me__introduction {
	width: 60%;

    font-size: 1rem;
    font-weight: 800;	

	font-style: italic;
    font-family: 'Spectral';
}

#about-me p {
    width: 80%;
	font-size: 15px;
}

/* --------------------------------------------------------------- */

.portfolio h2 {
    font-size: 1.75rem;
	text-align: center;
	padding: 2em 0;
}


.portfolio .container_btn-filter {
    display: flex;
    column-gap: 25px;
    justify-content: center;
    margin: 50px 0 30px;
}

.container_btn-filter .btn-filter {
    padding: 8px 16px;
}

.container_btn-filter .actif {
    background-color: #BEB45A;
    color: white;
}


.gallery {
    width: 100%;
    padding: 0 100px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 15px;
}

.gallery .gallery-item {
    width: calc(1280px / 3);
    height: calc(1280px / 3);
    overflow: hidden;
}

.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


figure {
    font-family: 'Spectral';
	font-style: italic;
	width: 70%;
	margin: 35px auto 30px;
	padding-block: 3em;
} 

.quote__text {
	font-family: Spectral;
	font-style: italic;
	font-weight: 300;
    font-size: 2.12rem;

}
.quote__author {
	font-family: Spectral;
	font-weight: 800;
	font-size: 22px;
}


#services {
	margin: auto;
	position: relative;
	background-color: #A8D5D8;
}
#services .container::before{
	content: '';
	width: 100%;
	height: 30%;

	background-color: #1C6474;

	position: absolute;
	z-index: 0;

	bottom: 0;
	left: 0;
}

#services .container {
    display: flex;
	justify-content: space-between;

	padding : 2em 0;

}

.service {
	width: 30%;
	height: 337px;
	max-width: 390px;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	
    background-color: white;
	padding: 1em;
	z-index: 1;
}

#contact {
	margin: auto;
	background-color: #D8D3A8 ;

	padding-inline: 100px;
	padding-block: 100px;
}

#contact .container {
	display: flex;
}

.picture.right {
    position: relative;
}

.picture.two::before {
    background-color: #BEB45A;
    right: -132px;
}

.form-container {
	flex : 2;

}
form {
	display: flex;
	flex-direction: column;
	width: 70%;
	align-items: flex-start;
}

form input {
	width: 100%;
	background-color: transparent;
	border: solid 1px;
	height: 2.5em;
	margin-bottom: 20px;
}

form textarea {
	width: 100%;
	background-color: transparent;
	border: solid 1px;
	height: 5em;
	line-height: 2.5em;
	font-size: 1.2em;
	margin-bottom: 20px;
}
input[type="submit"] {
	background-color: #BEB45A;
	padding: .5em 1em
}